---
layout: default
---

<a href="{{ site.url }}">{{ site.theme_config.back_home_text }}</a>
<h1>{{ page.company }} {{ page.jobtitle }}</h1>

<table>
  <tr>
    <td>Job Title:</td>
    <td>{{ page.jobtitle }}</td>
  </tr>

  <tr>
    <td>Company Name:</td>
    <td>
      {% if page.company-url %}
        <a
          href="{{ page.company-url }}"
          target="_blank"
        >
          {{ page.company }}
        </a>
      {% else %}
        {{ page.company }}
      {% endif %}
    </td>
  </tr>

  {% if page.location %}
    <tr>
      <td>Location:</td>
      <td>{{ page.location }}</td>
    </tr>
  {% endif %}

  {% if page.salary %}
    <tr>
      <td>Salary Range:</td>
      <td>{{ page.salary }}</td>
    </tr>
  {% endif %}

  {% if page.contact %}
    <tr>
      <td>Contact Person:</td>
      <td>{{ page.contact }}</td>
    </tr>
  {% endif %}

  <tr>
    <td>Submitted By:</td>
    <td>
      @<a
        href="{{ page.url-message }}"
        target="_blank"
      >{{ page.submitter }}</a>
    </td>
  </tr>

  {% if page.url-out %}
    <tr>
      <td colspan="2">
        <a
          href="{{ page.url-out }}"
          target="_blank"
        >Additional Link</a></td>
    </tr>
  {% endif %}
</table>

{{ content }}
